:root {
    --header-background-color:#584b4f;
    --header-text-color: #efdab9;
    --background-color:#3a3f45;
    --text-color: #efdab9;


    --p-900: #d62828;
    --p-800: #d62828;
    --p-700: #d62828;
    --p-600: #efdab9;
    --p-500: #d62828;
    --p-400: #d62828;
    --p-300: #d62828;
    --p-200: #d62828;
    --p-100: #d62828;

    // background-image: radial-gradient(ellipse closest-side at 50% 50%, #3a3f45, #37383c 25%, #343233);

    --n-900: #333355;
    --n-800: #333355;
    --n-700: #333355;
    --n-600: #333355;

    --n-500: #efdab9;
    --n-100: #584b4f;

    --n-300: #333355;
    --n-150: #e3e3ea;
    --n-200: #333355;
    --n-000: #e3e3ea;

    --a1-900: #376a8e;
    --a1-800: #376a8e;

    --a1-700: #5d887b;
    --a2-600: #78af9f;
    --a1-500: #ffd152;

    --a2-900: #003a38;
    --a2-800: #00524f;
    --a2-700: #00736e;
    --a2-600: #00938d;
    --a2-500: #00b4a8;
    --a2-400: #33c7bc;
    --a2-300: #66d9cf;
    --a2-200: #99e8e0;
    --a2-100: #ccf5f2;

    --a1-400: #376a8e;
    --a1-300: #376a8e;
    --a1-200: #376a8e;
    --a1-100: #376a8e;

    --a2-400: #fcbf49;
    --a2-300: #fcbf49;
    --a2-200: #fcbf49;
    --a2-100: #fcbf49;

    --a3-900: #c13f21;
    --a3-800: #d36e2d;
    --a3-700: #dda032;
    --a3-600: #78af9f;
    --a3-500: #659cc8;

    --a3-500: #228B22;

    --w-900: #ff0000;
    --w-500: #f77f00;
}