:root {
    --p-900: #4a0a0a;
    --p-800: #701010;
    --p-700: #991919;
    --p-600: #b92121;
    --p-500: #d62828;
    --p-400: #e64949;
    --p-300: #f07272;
    --p-200: #f7a4a4;
    --p-100: #fce2e2;

    --n-900: #1f1f2b;
    --n-800: #2a2a3b;
    --n-700: #3b3b4f;
    --n-600: #4e4e64;
    --n-500: #646481;
    --n-400: #7f7f9b;
    --n-300: #a0a0b8;
    --n-200: #c2c2d4;
    --n-100: #f3f3fa;

    --a1-900: #5a3b00;
    --a1-800: #7a5100;
    --a1-700: #996600;
    --a1-600: #bf8800;
    --a1-500: #fcbf49;
    --a1-400: #ffd36e;
    --a1-300: #ffe298;
    --a1-200: #ffedbc;
    --a1-100: #fff8e4;

    --a2-900: #003a38;
    --a2-800: #00524f;
    --a2-700: #00736e;
    --a2-600: #00938d;
    --a2-500: #00b4a8;
    --a2-400: #33c7bc;
    --a2-300: #66d9cf;
    --a2-200: #99e8e0;
    --a2-100: #ccf5f2;

    --a3-500: #228B22;

    --w-900: #ff0000;
    --w-500: #f77f00;
}