:root {
    color: #d62828;
    background-color: #eae2b7;
    --primary-color: #fff44f;

    --p-900: #d62828;
    --p-800: #d62828;
    --p-700: #d62828;
    --p-600: #d62828;
    --p-500: #d62828;
    --p-400: #d62828;
    --p-300: #d62828;
    --p-200: #d62828;
    --p-100: #d62828;

    --n-900: #333355;
    --n-800: #333355;
    --n-700: #333355;
    --n-600: #333355;
    --n-500: #333355;
    --n-400: #333355;
    --n-300: #333355;
    --n-200: #333355;
    --n-100: #333355;

    --a1-900: #fcbf49;
    --a1-800: #fcbf49;
    --a1-700: #fcbf49;
    --a1-600: #fcbf49;
    --a1-500: #fcbf49;
    --a1-400: #fcbf49;
    --a1-300: #fcbf49;
    --a1-200: #fcbf49;
    --a1-100: #fcbf49;

    --a2-900: #fcbf49;
    --a2-800: #fcbf49;
    --a2-700: #fcbf49;
    --a2-600: #fcbf49;
    --a2-500: #fcbf49;
    --a2-400: #fcbf49;
    --a2-300: #fcbf49;
    --a2-200: #fcbf49;
    --a2-100: #fcbf49;
}