/* Color Palette: https://coolors.co/palette/003049-d62828-f77f00-fcbf49-eae2b7 */

:root {
    background-color: var(--n-100);
    color: var(--a2-800);
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: var(--a1-500);
    text-align: center;
    border-bottom-width: 5px;
    border-color: var(--a1-700);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

main {
    text-align: center;
}

.content {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    padding: 1px 2em;
}

footer {
    /*background-color: var(--a1-100);*/
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: var(--a2-800);
}

input::placeholder {
    color: var(--a2-700);
    opacity: 0.5;
}

button {
    background-color: var(--a1-500);
}

a {
    color: var(--a2-800);
    text-decoration: inherit;
}

a:hover {
    color: var(--a2-600);
}