# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Artifact
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'latest'

      - run: npm ci
      - run: npm test
      - run: npm run build --if-present

      - name: Configure AWS credentials and Deploy static site to S3 bucket
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - run: aws s3 sync ./public/ s3://eight-ball --delete