# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      #Build webapp
      - name: Build Artifact
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - run: npm ci
#      - run: npm test
      - run: npm run build --if-present
      #Push app to S3
      - name: Configure AWS credentials and Deploy static site to S3 bucket
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - run: aws s3 sync ./dist/ s3://eight-ball --delete

        # Invalidate cloudfront cache
      - name: Invalidate CloudFront cache
        run: |
         aws cloudfront create-invalidation --distribution-id ${{ AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
        env:
         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         AWS_REGION: ${{ secrets.AWS_REGION }}